@{
    ViewData["Title"] = "Tutorial";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilos/estilo1.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="body">
    <audio src="/suspenso.mp3" controls="" autoplay="true" hidden="true"></audio>    
    <div>
        <p class="blockquote text-center margenTitulo">
            Sos un hombre que un día se despertó en el pasado. Dentro de un experimento militar, acerca de los planos espacio-temporales, se esperaba que viajarás 10 minutos en el pasado, como una pequeña prueba. Sin embargo, por una falla en la programación del viaje, <span class="amarillo">volviste mil años atrás,</span> y apareciste en un templo religioso.
            <br>
            <br>
            En frente tuyo, únicamente está tu reloj temporal roto, junto con un grupo de sacerdotes. Te enfrentás a la sorpresa y el cuestionamiento de los sacerdotes, al dilema del artefacto, y al problema de cómo volver a tu tiempo.
            <br>
            <br>
            Ahora, debes encontrar la forma de volver a <span class="amarillo">TU PRESENTE.</span>

            </p>

            <br>
            <br>
    
        <div class="slider">
            <ul>
                <li><img style="border-radius: 3%;" src="/imgCarousel/slide1.jpg" alt=""></li>
                <li><img style="border-radius: 3%;" src="/imgCarousel/slide2.jpg" alt=""></li>
                <li><img style="border-radius: 3%;" src="/imgCarousel/slide3.jpg" alt=""></li>                 
            </ul>
        </div>

        <br><br><br>
    
    </div>
    
</body>
</html>
