@{
    ViewData["Title"] = "Derrota";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/estilos/estilo1.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="body">    
    
    <h1 class="margenTitulo amarillo">DERROTA</h1>    
    
    <p class="centrar margen">
        
        <span class="gris"> No lograste volver a tu tiempo ¡Compartí este juego a tus amigos, para que ellos lo intenten!</span>
        <br><br>
        <a target="_blank" href="https://www.instagram.com/riverplate/?hl=es"><img class="redes" src="/imagenes/instagram.png" alt=""></a>
        <a target="_blank" href="https://es-la.facebook.com/riverplateoficial/"><img class="redes" src="/imagenes/facebook.png" alt=""></a>
        <br><br><br><br>
    </p>
    
</body>
</html>

